@inherits LayoutComponentBase

<div class="page" style="height: 100%;position:absolute;width:100%">

	<main  style="height: 100%;">
		<article class="content px-4" style="display: flex;
    justify-content: center; height: 100%; align-items: center;">
			@Body
		</article>
	</main>
</div>
