@inherits LayoutComponentBase

<div class="page" style="height: 100%;position:absolute;width:100%">

	<main  style="height: 100%;">
		<article class="content" style="display: flex;
    justify-content: center; align-items: center;flex-direction: column;">
			@Body
		</article>
	</main>
</div>
